.title {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #f00ca4;
  margin-bottom: 106px;
  text-align: center;

  @media (max-width: 900px) {
    margin-bottom: 36px;
  }
}

.descriptions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 56px;
  flex-direction: row;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.description {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
  justify-content: center;

  &_text {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 20px;
    max-width: 303px;
    text-align: center;
  }
}

.button {
  display: flex;
  justify-content: center;
}
