@font-face {
  font-family: 'Libre Baskerville';
  src:
   url('./font/GothamMedium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'ArmeniaSans';
  src:
  url('./font/FreeSans.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RussianSans';
  src:
  url('./font/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
